In [1]:
import pandas as pd
import glob
import os

In [10]:
dataset = ['training', 'test', 'validation']
work = ['KMeans', 'PageRank', 'SGD', 'tensorflow', 'web_server']

In [12]:
path = r'data/'
count = {'KMeans':0, 'PageRank':0, 'SGD':0}
for w in work:
    if w not in count:
        count[w] = 0
    for ds in dataset:

        ind = 0
        
        path_new = path + w + '/' + ds
        all_files = glob.glob(os.path.join(path_new, "*.csv"))
        total = None
        for filename in all_files:
            ind+=1
            df = pd.read_csv(filename, header = 0, index_col = None)
            del df['index']
            df['job'] = ind
            if total is not None:
                total = pd.concat([total,df])
            else:
                total = df
        if ds=='test':
            count[w]+=ind
            
        total.to_csv(w + '_' + ds + '_jb' + '.csv', index = False)
print(count)

{'KMeans': 0, 'PageRank': 0, 'SGD': 0, 'tensorflow': 1, 'web_server': 1}

In [9]:
#number of test jobs
print(count)

print(f'Verifying that number of jobs is >1 in KMeans test')
df = pd.read_csv('KMeans_test_jb.csv')
df['job']

{'KMeans': 91, 'PageRank': 76, 'SGD': 34, 'tensorflow': 1, 'web': 0}
Verifying that number of jobs is >1

0          1
1          1
2          1
3          1
4          1
        ...
64164    394
64165    394
64166    394
64167    394
64168    394
Name: job, Length: 64169, dtype: int64

In [41]:
path = r'/data'
total_lines = 0
for ds in dataset:
    all_files = glob.glob(os.path.join(path, "*_" + ds + ".csv"))
    total = []
    for filename in all_files:
        df = pd.read_csv(filename, header = 0, index_col = None)
        total_lines += df.shape[0]
        work_name = filename.split('_')[0]
        ind = work.index(work_name)
        df['work']=ind+1
        total.append(df)
    blah = pd.concat(total)
    blah.to_csv(ds + '.csv', index = False)
assert total_lines == blah.shape[0]

AssertionError:

In [34]:
blah.loc[blah['Work'] == 4]

,time,previous_flow_time,agg_net_out,agg_net_in,agg_net_out_per_machine,agg_net_in_per_machine,tcp_queue,machine,cpu,ram,...,memory_read,memory_write,first_call,flow_size,Work,flow_frequency,execution_time,disk_read,number_of_disk_reads,number_of_disk_writes
0,1.524635e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3280.0,4,NaN,NaN,NaN,NaN,NaN
1,1.524635e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,16.0,4,NaN,NaN,NaN,NaN,NaN
2,1.524635e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,16.0,4,NaN,NaN,NaN,NaN,NaN
3,1.524635e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,14748.0,4,NaN,NaN,NaN,NaN,NaN
4,1.524635e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,16.0,4,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909767,1.524636e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,28.0,4,NaN,NaN,NaN,NaN,NaN
11909768,1.524636e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,28.0,4,NaN,NaN,NaN,NaN,NaN
11909769,1.524636e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,28.0,4,NaN,NaN,NaN,NaN,NaN
11909770,1.524636e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,28.0,4,NaN,NaN,NaN,NaN,NaN
11909771,1.524636e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,28.0,4,NaN,NaN,NaN,NaN,NaN

In [5]:
df = pd.read_csv('KMeans_validation_jb.csv')
df.tail()

,index,time,previous_flow_time,agg_net_out,agg_net_in,agg_net_out_per_machine,agg_net_in_per_machine,tcp_queue,machine,cpu,ram,disk_write,memory_read,memory_write,first_call,flow_size,job
64164,226,180350,64350,467677420,1099944048,72324,157730,60,2,600.7855,0.8054,5125,7333976,5146896,208,208,1
64165,227,180350,100,467677420,1099944048,3224355,3067254,60,4,600.7855,0.8054,5125,7333976,5146896,52,52,1
64166,228,180350,64350,467677420,1099944048,64286,114114,60,5,600.7855,0.8054,5125,7333976,5146896,4141,4141,1
64167,229,180350,64350,467677420,1099944048,68702,132817,60,6,600.7855,0.8054,5125,7333976,5146896,208,208,1
64168,230,180400,2900,467682029,1099948703,464036822,1096275607,60,3,600.8890,0.8054,5125,7334590,5147074,52,52,1