In [25]:
import pandas

filePagerank = pandas.read_csv('SGD_test_jb.csv')
list1 = list(range(0,len(filePagerank.flow_size)))
idx = 0
filePagerank.insert(loc = idx, column="pseudo_index", value=list1)

print(filePagerank.head(10))
print(filePagerank.shape)

#change job_lim based on which job it is
#4 KMeans
#6 SGD
#3 PageRank

job_lim = 6


filePagerank = filePagerank.loc[(filePagerank["flow_size"] < 1000000) & (filePagerank['job']<job_lim)]
print(filePagerank.shape)
#del filePagerank['pseudo_index']
filePagerank.to_csv('SGD_test_jb_mini.csv', index = False)


#3 KMeans
#5 SGD
#2 PageRank

   pseudo_index       time  first_call  machine  agg_net_out_per_machine  \
0             0   4.878780         244        2                    244.0
1             1   4.917150         183        2                    427.0
2             2   5.927139         183        2                    610.0
3             3   6.928264         183        2                    793.0
4             4   7.929206         183        2                    976.0
5             5   8.930092         183        2                   1159.0
6             6   9.931030         183        2                   1342.0
7             7  10.931820         183        2                   1525.0
8             8  11.932581         183        2                   1708.0
9             9  12.933503         183        2                   1891.0

   agg_net_in_per_machine  agg_net_out  agg_net_in  flow_frequency  flow_size  \
0                 24576.0        244.0     26624.0        0.000000      244.0
1                 40960.0        427.0     43008.0        0.038370      183.0
2                 57344.0        610.0     59392.0        1.009989      183.0
3                 73728.0        793.0     75776.0        1.001125      183.0
4                 90112.0        976.0     92160.0        1.000942      183.0
5                106496.0       1159.0    108544.0        1.000885      183.0
6                122880.0       1342.0    124928.0        1.000938      183.0
7                139264.0       1525.0    141312.0        1.000790      183.0
8                155648.0       1708.0    157696.0        1.000761      183.0
9                172032.0       1891.0    174080.0        1.000922      183.0

   job
0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
(57531, 11)
(4856, 11)

In [7]:
filePagerank.head()

,pseudo_index,time,flow_frequency,agg_net_out,agg_net_in,agg_net_out_per_machine,agg_net_in_per_machine,machine,flow_size,job
0,0,14.50,4.80,1576.0,52.0,1576.0,52.0,4,1576.0,1
1,1,16.25,1.75,4353.0,3078.0,4353.0,3078.0,4,2777.0,1
2,2,16.55,0.15,9116.0,5207.0,9116.0,5207.0,4,4763.0,1
3,3,16.80,0.25,10610.0,5431.0,10610.0,5431.0,4,1494.0,1
4,4,17.10,0.10,41327.0,72699.0,41327.0,72699.0,4,30717.0,1

In [8]:
filePagerank.tail()

,pseudo_index,time,flow_frequency,agg_net_out,agg_net_in,agg_net_out_per_machine,agg_net_in_per_machine,machine,flow_size,job
399,399,202.45,0.50,168508055.0,227021237.0,77678711.0,59160731.0,6,899027.0,2
400,400,203.15,0.60,169483491.0,227034522.0,78654147.0,59174016.0,6,975436.0,2
412,412,211.45,0.55,182517038.0,227193553.0,91686118.0,59332995.0,6,1576.0,2
418,418,215.50,0.55,189158853.0,227278527.0,98327933.0,59417969.0,6,666019.0,2
422,422,218.10,0.50,193563188.0,227328507.0,102732268.0,59467949.0,6,982047.0,2